/* General Settings */
:root {
  --color-grey: rgb(199, 199, 199);
  --color-white: rgb(255, 255, 255);
  --color-navy: rgb(62, 64, 200);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

/* Toggle Button */

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--color-grey);
  background-color: var(--color-grey);
  width: 7rem;
  height: 3rem;
  border-radius: 10px;
}

.btn-round {
  border-radius: 30px;
}

.slider {
  cursor: pointer;
  background-color: var(--color-white);
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 2px;
  margin-right: 2px;
  padding: 1px;
  border-radius: 10px;
}

.slider-round {
  border-radius: 100px;
}

.btn-on {
  justify-content: end;
  background-color: var(--color-navy);
  border: 1px solid var(--color-navy);
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  margin: auto;
}
